@model ToDoList.Models.ToDoItems

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label">Tytuł</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label">Opis</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCompleted" /> Ukończone?
                </label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CreatedAt" class="control-label">Dodano</label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Deadline" class="control-label">Deadline</label>
                <input asp-for="Deadline" class="form-control" type="date" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Zapisz" class="btn btn-primary" /> |
                <a asp-action="Index">Wróć</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
