@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w ToDo List</h1>
    <p>To prosta aplikacja do zarządzania codziennymi zadaniami.</p>

    <a class="btn btn-primary mt-4" asp-controller="ToDoItems" asp-action="Index">Przejdź do listy zadań</a>
</div>
